html,
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    background-color: black;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}
body {
    width: 92vw;
    height: 100vh;
    background-image: url("img/background.jpg");
    margin-left: 4%;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
:root {
    --white: #ffffff;
    --black: #0e0e0e;
    --blue: #598bdd;
    --grey: #333438;
}
.span-img {
    width: 40px;
}
main {
    width: 20%;
    margin: 0 38%;
}

#container {
    width: 22%;
    background-color: var(--white);
    border-radius: 5px;
    position: absolute;
    top: 7rem;
    cursor: pointer;
}
h1 {
    text-align: center;
    padding: 1.5rem 0;
    font-size: 20px;
    color: var(--grey);
}
a {
    text-decoration: none;
    color: var(--grey);
    font-size: 14px;
}
.next-step a {
    color: var(--white);
}
.next-step {
    background: var(--blue);
    padding: 1em 30%;
    margin-top: -15px;
}
.next-step img {
    width: 15px;
}
.flex-container {
    padding: 0 1.5em;
}

hr {
    margin: 15px 0;
}
.img-text {
    padding-left: 20px;
    padding-top: -50px;
}

.check {
    padding-left: 35%;
}

.img-text:active {
    font-weight: bolder;
}
.img-text:hover {
    font-weight: bolder;
}
